/* #user-wrapper {
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;

    border:5px dotted rgb(68, 18, 66);
  }
  
  .user-card {
    margin: 20px auto;
    border: 2px solid rgb(0, 109, 128);
    border: 1px solid black;
    text-align: left;
    padding: 15px;
    box-sizing: border-box;
    max-width: 300px; 
    font-family:monospace;
    background-color: white;
  }
  .active-card{
    border:3px solid pink;
    background-color:lightsteelblue;
    /* color:#8a2649;
     */
    /* color:black;

  }
  
  .user-card:hover{
    cursor: pointer;
  } */ 